@import "file:///home/sose/.cache/wal/colors.css";

body {
    background-color: var(--color0);
    font-family: DejaVu Sans Mono;
}

p {
    font-size: 14px;
}

iframe {
    height: 96%;
}

@media only screen and (max-width: 1026px) {
    .info-block.hltv {
        display: none;
    }
}

.minor-title {
    padding: 0;
    margin: 0;
    margin-left: 5px;
    font-size: 16px;
    color: var(--color2);
}
a.rss-link,a.rss-link:visited {
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
}
.info-block {
    background-color: var(--color0);
    margin: 1vh;
    flex-basis: 100%;
}
.info-block.ip-info {
    margin-top: 2vh;
}
.info-block.scrollable {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color2) var(--color0);
}
.rss-item-title {
    margin: 10px;
    margin-left: 5px;
    color: var(--color15);
    padding: 5px;
    border: solid;
    border-width: 2px;
    border-color: var(--color1);
    font-size: 14px;
}
.rss-item-title:hover {
    color: var(--color1);
    border-color: var(--color1);
}
.kv-container {
    margin: 5px;
    margin-bottom: 10px;
}
.key {
    background-color: var(--color3);
    color: var(--color0);
    display: inline;
    margin-right: 1px;
    padding: 3px;
}

.highlight1 {
    color: var(--color0);
    background-color: var(--color1);
}
.highlight2 {
    color: var(--color0);
    background-color: var(--color2);
}
.highlight3 {
    color: var(--color0);
    background-color: var(--color3);
}
.highlight4 {
    color: var(--color0);
    background-color: var(--color4);
}
.value {
    background-color: var(--color5);
    color: var(--color0);
    display: inline;
    margin-left: 1px;
    padding: 3px;
}
.info-block.weather, .info-block.ip-info {
    flex-basis: auto;
}
.info-block.hltv, .info-block.top-stories {
    border-style: solid;
    border-width: 1px;
    border-color: var(--color2);
}
.info-header {
    color: var(--color0);
    background-color: var(--color2);
    font-family: DejaVu Sans Mono;
    font-size: 20px;
    margin-top: 0;
    text-align: center;
}
.infobox-data {
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-color: var(--color1);
    border-width: 2px;
}
.hltv-event-name {
    margin: 0;
    padding: 5px;
    margin-bottom: 5px;
    background-color: var(--color2);
    color: var(--color0);
}
.hltv-team-name {
    padding: 5px;
    color: var(--color15);
    font-size: 14px;
}
#main {
    height: 95vh;
    color: var(--color15);
}
.info-container-vert {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
}
#hltv-container {
    flex-direction: row-reverse;
}

.info-container-hor {
    max-height: calc(100% - 40px);
    display: flex;
}
.info-container-hor.main {
    max-height: 80vh;
}

.colors-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.color-block {
    font-size: 25px;
    text-align: center;
    color: rgba(0, 0, 0, 0);
    flex-grow: 1;
}
.color-block:hover {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.2);
}

#color0 {
    background-color: var(--color0);
}

#color1 {
    background-color: var(--color1);
}

#color2 {
    background-color: var(--color2);
}
#color3 {
    background-color: var(--color3);
}
#color4 {
    background-color: var(--color4);
}
#color5 {
    background-color: var(--color5);
}
#color6 {
    background-color: var(--color6);
}
#color7 {
    background-color: var(--color7);
}
#color8 {
    background-color: var(--color8);
}
#color9 {
    background-color: var(--color9);
}
#color10 {
    background-color: var(--color10);
}
#color11 {
    background-color: var(--color11);
}
#color12 {
    background-color: var(--color12);
}
#color13 {
    background-color: var(--color13);
}
#color14 {
    background-color: var(--color14);
}
#color15 {
    background-color: var(--color15);
}
